body {
  margin: 0;
}

.digm-view {
  width: 100vw;
  height: 100vh;
}

.digm-mask {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
}
